* {
    font-family: 'Times New Roman', Times, serif;
    transform: none;
}

.body {
    max-width: auto;
    max-height: fit-content;
}

.header {
    color: rgb(255, 255, 255);
    max-width: auto;
    margin: 0px 70px 0px 70px;
    background-color: rgb(58, 22, 53);
    padding: 0 10px 0 10px;
}

.container {
    display: grid;
    align-items: center;
}

.container ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.header a {
    color: rgb(255, 255, 255);
    font-style: none;
    text-decoration: none;
}

.two-columns {
    display: flex;
    margin: 0px 70px 0px 70px;
    max-height: fit-content;
}

.left-column {
    max-width: 40%;
    background-color: rgba(182, 168, 182, 0.274);
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.left-column img {

    width: 90%;
    height: 90%;
    border-radius: 50%;
    vertical-align: baseline;
}

.figure {
border: 1px solid black;
color: white;
background-color: rgb(58, 22, 53);
font-size: 25px;
}


.about {
    color: rgb(0, 0, 0);
}

.about h1 {
    font-size: 45px;
    color: rgb(58, 22, 53);
}

.about h2 {
    font-size: 20px;
    color: rgb(82, 82, 82);
}


.right-column {
    max-width: 60%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 0px 15px;

}

.summary h1{
    color: rgb(58, 22, 53);
    border-bottom: 1px solid black;
}

.summary p {
    font-size: 20px;
}

.skills h1{
    color: rgb(58, 22, 53);
    border-bottom: 1px solid black;
}

.skills p {
    font-size: 20px;
}


.education h1{
    color: rgb(58, 22, 53);
    border-bottom: 1px solid black;
}

.education p {
    font-size: 20px;
}

.languages h1{
    color: rgb(58, 22, 53);
    border-bottom: 1px solid black;
}

.languages p {
    font-size: 20px;
}

.Contacts {
    background-color: rgb(58, 22, 53);
    max-height: min-content;
    margin: 40px 20% 40px 20%;
    color: white;
}

.Contacts a {
    color: white;

}

.footer{
    color: rgb(255, 255, 255);
    max-width: auto;
    margin: 0px 70px 0px 70px;
    background-color: rgb(58, 22, 53);
    padding: 0 10px 0 10px;
}

.footer_container {
    display: grid;
    align-items: center;
    color: rgb(255, 255, 255);
}

.footer_container ul {
    list-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(58, 22, 53);
    margin: 20px 70px 0px 70px;
    font-size: 25px;
}

.footer-container a {
    font-style: none;
    text-decoration: none;
    margin: 20px 70px 0px 70px;
}

.footer_menu-item {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    font-style: none;
    list-style: none;
}

.code-ex {
    margin: 0 20px 10px 20px;
    border: 1 px solid black;
    background-color: cadetblue;
}
