* {
    font-family: 'Times New Roman', Times, serif;
}

.body {
    max-width: auto;
    max-height: fit-content;
}

.header {
    color: rgb(255, 255, 255);
    max-width: auto;
    margin: 0px 30px 0px 30px;
    background-color: rgb(58, 22, 53);
    padding: 0 10px 0 10px;
}

.container {
    display: grid;
    align-items: center;
}

.container ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.header a {
    color: rgb(255, 255, 255);
    font-style: none;
    text-decoration: none;
}

.two-columns {
    display: flex;
    margin: 0px 30px 0px 30px;
    max-height: fit-content;
}

.left-column {
    max-width: 40%;

    background-color: rgba(182, 168, 182, 0.274);
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.left-column img {
    margin: 10px 10px 10px 10px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    vertical-align: baseline;
}

.about {
    line-height: 90%;
    color: rgb(0, 0, 0);

}

.about h1 {
    font-size: 35px;
    color: rgb(58, 22, 53);
}

.about h2 {
    font-size: 20px;
    color: rgb(45, 45, 45);
}



.right-column {
    max-width: auto;
    height: max-content;
    background-color: aquamarine;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

