.header {
    align-items: flex-end;
    display: flex;
}

.photo img {
    vertical-align: bottom;
    width: 20em;
    height: 20em;

}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 115px;
}